  <% if @user.errors.any? %>
<div class="row">
<div class="col-md-6 col-md-offset-3">
    <div id="error_explanation">
      <h2><%= @user.errors.count %> 件のエラーがあります。</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</div></div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
<%= form_with(model: @user, local: true) do |form| %>

  <div class="field">
    <%= form.label :名前 %>
    <%= form.text_field :user_name, id: :user_user_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :user_email %>
  </div>

  <div class="field" input type="password">
    <%= form.label :password %>
    <%= form.password_field :password, id: :user_password %>
  </div>

    <%= form.submit :登録する, class: "btn btn-primary"  %>
  </div>
<% end %>
  </div>
</div>
