<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
<h1>借りたい本を入力してください</h1>
<div class="field">
<%= form_tag books_path, :method => 'get' do %> <%#　projects_pathはモデル名で読みかえること %>
</div>
<div class="field">  <p>
    <%= text_field_tag :search, params[:search] %>
</div>
<div class="field">  <p>
    <%= submit_tag "検索", class: "btn btn-primary", :books_name => nil %>
  </p>
  </div>
<% end %>

<p></p>
<table>
  <thead>
    <tr>
      <th>一覧</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.book_name %></td>
        <td><%= link_to '詳細', book %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>


</div>
</div>