<p id="notice"><%= notice %></p>

<p>
  <strong>書籍名:</strong>
  <%= @book.book_name %>
</p>
<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @book.image %>
</p>

<p>
  <strong>貸出状況:</strong>
  
  <%= @book.state %>
</p>
<p>
  <strong>予約人数:</strong>
  <%= @favorite_users.count %>
  
</p>
<p>
  <% if @favorite.present? %>
    <%= link_to '予約をキャンセルする', favorite_path(book_id: @book.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to '予約する', favorites_path(book_id: @book.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
</p>
<%= link_to '一覧に戻る', books_path %>