<!DOCTYPE html>
<html>
<head>
  <title>図書館アプリ</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <ul>

    <% if logged_in? %>
      <li><%= link_to "TOP", "/" %></li>
      <li><%= link_to "本を探す", books_path %></li>
      <li><%= link_to "本をリクエストする", new_contact_path %></li>
      <li><%= link_to "マイページ", user_path(current_user.id) %></li>
      <li><%= link_to "ログアウト", session_path(current_user.id), method: :delete %></li>
      <li><%= link_to '退会する', user_path(current_user.id), method: :delete, data: { confirm: '本当に退会しますか？' } %></li>
     
    <% else %>
      <li><%= link_to "登録する", new_user_path %></li>
      <li><%= link_to "ログイン", new_session_path %></li>
    <% end %>

    </ul>
  </header>

<%= yield %>

</body>
</html>